div.container{
    width: 100%;
    margin:0px;
    border:1px solid grey;
    line-height:150%;
}

h1.header{
    padding:0;
    margin:0;
}

div.left{
    float:left;
    width: 160px;
    margin:0;
    padding:1em;
}

div.header, div.footer{
    padding:0.5em;
    color:white;
    background-color:grey;
    clear:left;
    text-align:center;
}

div.content{
    margin-left:200px;
    border-left:1px solid grey;
    padding:1em;
}