ul.s1{
    float: left;
    width: 100%;
    padding:0;
    margin:0;
    list-style:none;
}

li.s3{
    display:inline;
}

a.s2{
    float:left;
    width:9em;
    text-decoration:none;
    text-align:center;
    color:white;
    background-color:purple;
    padding: 15px;
    border-right: 2px solid white
}

a.s2:hover{
    background-color:#ff3300;
}

ul.s4{
    padding:10px;
    margin:0;
    list-style-type:none;
}


a.s5{
    width:9em;
    text-decoration:none;
    text-align:center;
    color:white;
    background-color:purple;
    padding: 15px;
    border-bottom: 2px solid white;
    display:block;
}

a.s5:hover{
    background-color:#ff3300;
}
